[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "route53"]
	path = route53
	url = https://github.com/hw-cookbooks/route53.git
[submodule "s3cmd"]
	path = s3cmd
	url = https://github.com/freerobby/s3cmd
[submodule "cookbook-parted"]
	path = cookbook-parted
	url = https://github.com/retr0h/cookbook-parted.git
[submodule "lvm"]
	path = lvm
	url = https://github.com/opscode-cookbooks/lvm.git
[submodule "swap"]
	path = swap
	url = https://github.com/sethvargo-cookbooks/swap
[submodule "swap_tuning-cookbook"]
	path = swap_tuning-cookbook
	url = https://github.com/onddo/swap_tuning-cookbook
[submodule "chef-reboot"]
	path = chef-reboot
	url = https://github.com/Afterglow/chef-reboot
