[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "route53"]
	path = route53
	url = https://github.com/hw-cookbooks/route53.git
